@media screen and (max-width: 901px) {
  .services {
    .services-img {
      width: 15rem !important;
    }
    .services-header {
      .services-title {
        margin: 0.5rem !important;
      }
      .services-subtitle {
        margin: 0 !important;
        font-size: 1rem !important;
      }
    }
  }
}

@media screen and (max-width: 601px) {
  .services-icon {
    width: 2rem !important;
    height: 2rem !important;
  }
  .services-item {
    padding: 0 !important;
  }

  .services-header {
    h5 {
      font-size: 0.6rem !important;
      font-weight: bold !important;
    }
    p {
      font-size: 0.5rem !important;
    }
  }
}

@media screen and (max-width: 570px) {
  .hamburger-menu {
    position: absolute;
    display: block;
    right: 0;
    top: 2px;
  }
  .navbar-container {
    flex-direction: column;
    .logo {
      position: absolute;
      left: 18px;
      top: 13px;
    }
    .nav-items {
      flex-direction: column;
      padding-top: 50px;
    }
  }
  #navbar .nav-item {
    padding: 5px 0;
    text-align: center;
  }
  .menu {
    display: none;
  }
  .menu-block {
    display: block;
  }

  .main {
    .main-title {
      font-size: 3rem !important;
    }
    .main-p {
      font-size: 1rem !important;
    }
  }
}

@media screen and (max-width: 481px) {
  .services-img {
    width: 20rem !important;
  }
  .services-container-flex {
  }
}
